---
layout: default
title: Versions
---

{% for version in site.versions %}
<div class="version">
    <h2><a href="{{ version.link }}">{{ version.title }}</a></h2>
    {{ version.content }}
</div>
{% endfor %}

<table>
  <thead>
    <tr>
      <th style="text-align: left">Version</th>
      <th style="text-align: left">Date</th>
      <th style="text-align: left">Title</th>
    </tr>
  </thead>
  <tbody>

{% for version in site.versions %}
    <tr>
      <td style="text-align: left"><a href="{{ version.link }}">Version {{ version.version }}</a></td>
      <td style="text-align: left">{{ version.date |  date: "%B %Y" }}</td>
      <td style="text-align: left">{{ version.title }}</td>
    </tr>
{% endfor %}

  </tbody>
</table>
