<ul>
{% for version_hash in site.data.acknowledgements %}
  {% assign version = version_hash[1] %}
  <li>
     <a href="version/{{version.version}}">
      {{ version.title }}
    </a>
    ({{ version.people | size }} contributors)
    <ul>
      {% for person in people %}
      <li>
        {{ person.name }}, <em>Contribution:</em> {{person.contribution}}
      </li>
    </ul>
  </li>
</ul>
{% endfor %}


{% assign sabbtalks = site.data.sabbtalks | sort: "date" | reverse %}
{% for talk in sabbtalks %}
<ul class="list-archive">
<li>{{ talk.title }} {{ talk.date | date: '%B %Y'  }} / {{ talk.city }}, {{ talk.country}}</li>
{% endfor %}
</ul>
