{% assign acknowledgements = site.data.acknowledgements | sort: "version" | reverse %}
{% for version in acknowledgements %}

<h3>{{ version.version }} {{ version.title }}</h3>

<h4>{{ version.date-end | date: '%B %Y'  }}</h4>

  {% for people in version %}
  <ul>
  test {% for person in version.people %}
  <li>{{ person.name }}</li>
  {% endfor %}
  </ul>
{% endfor %}
{% endfor %}

<ul>
{% for version_hash in site.data.acknowledgements %}
  {% assign version = acknowledgements_hash[1] | sort: "version" | reverse  %}
  <li>
     <a href="version/{{acknowledgement.version}}">
      {{ version.title }}
    </a>
    ({{ version.people | size }} contributors)
    <ul>
      {% for person in version %}
      <li>
        {{ person.name }}, <em>Contribution:</em> {{person.contribution}}
      </li>
    </ul>
  </li>
{% endfor %}
</ul>


{% assign sabbtalks = site.data.sabbtalks | sort: "date" | reverse %}
{% for talk in sabbtalks %}
<ul class="list-archive">
<li>{{ talk.title }} {{ talk.date | date: '%B %Y'  }} / {{ talk.city }}, {{ talk.country}}</li>
{% endfor %}
</ul>
