<p>test list order</p>

<table>
  <thead>
    <tr>
      <th class="lalign">Version</th>
      <th class="lalign">Date</th>
      <th class="lalign">Title</th>
    </tr>
  </thead>
  <tbody>

{% assign listed_versions = site.versions | sort: "date" | reverse %}

{% for vers in listed_versions  %}
    <tr>
      <td class="lalign"><a href="{{ '/' vers.url }}">Version {{ vers.version }}</a></td>
      <td class="lalign">{{ vers.date |  date: "%B %Y" }}</td>
      <td class="lalign">{{ vers.title }}</td>
    </tr>
{% endfor %}

  </tbody>
</table>
