---
title: Acknowledgements
---
{% for version in site.data.acknowledgements %}
    <h2>{{ version.version }}</h2>
    <h4>Date: {{ version.date-start | date_to_long_string }} - {{ version.date-start | date_to_long_string }}</h4>

  <div class="people">
    <ul>
      {% for people in site.data.acknowledgements.people %}
        <li>
          <strong>Ms {{ people.name }}</strong><br>
          {{ people.company }}, {{ people.company }}
        </li>
      {% endfor %}
  </ul>
  </div>
{% endfor %}
