---
title: Acknowledgements
---
{% for acknowledgement in site.data.acknowledgements.versions %}
    <h2>Version {{ acknowledgement.version }} {{ acknowledgement.title }}</h2>
    <h4>Date: {{ acknowledgement.date-start | date_to_long_string }} - {{ acknowledgement.date-end | date_to_long_string }}</h4>
    {% for person in acknowledgement.people %}
      <p>Mr {{person.name}}</p>
    {% endfor %}

    <ul>
{% for person_hash in site.data.acknowledgements.versions %}
{% assign person = person_hash[1] %}
  <li>
      {{ person.name }}
    ({{ person.people | size }} members)
  </li>
{% endfor %}
</ul>

  <div class="people">
    <ul>
      {% for person in site.data.acknowledgements.version.people %}
        <li>
          <strong>Ms {{ person.name }}</strong><br>
          {{ person.company }}, {{ person.company }}
        </li>
      {% endfor %}
  </ul>
  </div>
{% endfor %}
