---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

$font-stack: 'Open Sans', sans-serif;
$primary-color: #f15e3d;
$secondary-color: #0cb3b6;

/** HEADING **/
$orange: #f15e3d;
$blue: #0cb3b6;
$blue50: #9ed3d6;
$cream: #fefef8;
$grey: #414042;
$grey70: #7b7c7f;
$grey50: #9d9fa2;

/** HEADING **/
body {
  font: 100% $font-stack;
  color: $grey;
  line-height: 20px;
  font-size: 14px;
  background-color: $cream;
  padding: 0 0 10px 0;
  }

/** NAV PANE LEFT **/
header {
  a {
    color: $blue;
    }
  h3, h1 {
    color: $blue;
    font-weight: normal;
    padding: 20px 0 0 0;
    }
  h1 {
        font-size: 25px;
        line-height: 40px;
        }
}

header ul {
    list-style: none;
    height: 20px ;
    padding: 0;
    background: none;
    border-radius: 0px;
    border: 0px;
  /*  width: 270px;*/
}

header dt, header li {
    list-style: none;
    padding: 0;
    border: 1px 0 1px 0;
    border-color: $secondary-color;
    width: 270px;
}

dt, header li {
    list-style-type: none;
    padding-left: 20px;
}

dt:before, header li:before {
    content: '';
    float: left;
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
    width: 20px;
    margin-left: -20px;
  }

/** HEADING **/
h1, h2 {
  color: $grey70;
  line-height: 40px;
  font-size: 30px;
  padding: 20px 0 0 0;
}

h3, h4, h5, h6 {
  color: $grey70;
  line-height: 20px;
  padding: 20px 0 0 0;
}


ul {
  padding: 0 0 20px 0;
  padding-inline-start: 20px;
}

li {
  list-style-type: disc;
}


a {
  color: $blue;
  font-weight: normal;
  text-decoration: none;
}

a:hover {
          color: $blue;
          font-weight: normal;
          text-decoration: underline;
}

a:active {
          color: $blue;
          font-weight: normal;
          text-decoration: underline;
}

a:visited {
          color: $blue;
          font-weight: normal;
          text-decoration: underline;
}

hr {
    height: 1px;
    background-color: $blue50;
    border: none;
    }
