---
layout: default
---

<div class="version">

<h2> {{ page.title }}</h2>
  <h3>Details</h3>
  <p><em>Version:</em> {{ page.version }}<br>
    <em>Date:</em> {{ page.date |  date: "%B %Y" }}<br>
    <em>About:</em> {{ page.summary }} {{ content | markdownify }}
  </p>

<hr>

{% if page.image %}
  <img src="{{ page.image }}" alt="{{ page.title }} {{ page.version }}">
{% endif %}

{% if page.pdf %}
  <p>Download the poster <a href="{{ page.pdf }}">here</a>.</p>
{% endif %}

{% capture label %}{{ page.object-id  }}{% endcapture %}

{% if site.data.acknowledgements.[label].people %}
  <h3> Contributors </h3>
{% endif %}

<ul>
{% for person in site.data.acknowledgements.[label].people %}

  <li>
{% if person.link %}
    <a href="person.link"><strong>  {{ person.name }} </strong></a>
  {% else %}
    <strong> {{ person.name }} </strong>
{% endif %}

{% if person.organization %}
    at {{ person.organization }}
{% endif %}
    <br>

{% if person.contribution %}
    <em>Specific contribution:</em> {{person.contribution}}
{% endif %}
  </li>

{% endfor %}
</ul>

</div>
