---
layout: default
---

<div class="version">

<h2> {{ page.title }}</h2>
  <h3>Details</h3>
  <p><em>Version:</em> {{ page.version }}<br>
    <em>Date:</em> {{ page.date |  date: "%B %Y" }}<br>
    <em>About:</em> {{ page.summary }}
  </p>

{{ content | markdownify }}

{% capture label %}{{ page.object-id  }}{% endcapture %}

{% if site.data.acknowledgements.[label].people %}
  <h3> Contributors </h3>
{% endif %}

{% for person in site.data.acknowledgements.[label].people %}

{% if person.link %}
    <h4><a href="person.link">  {{ person.name }} </a></h4>
  {% else %}
    <h4> {{ person.name }} </h4>
{% endif %}

{% if person.organization %}
    <p><em>Organization:</em> {{ person.organization }} </p>
{% endif %}

      {% if person.contribution %}
        <p><em>Contribution:</em> {{person.contribution}} </p>
      {% endif %}

{% endfor %}

</div>
